@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Montserrat';
        src: url('/fonts/Montserrat-Regular.ttf');
        font-weight: normal;
    }
    @font-face {
        font-family: 'Montserrat';
        src: url('/fonts/Montserrat-SemiBold.ttf');
        font-weight: bold;
    }
    @font-face {
        font-family: 'Open Sans';
        src: url('/fonts/OpenSans-Regular.ttf');
        font-weight: normal;
    }
    @font-face {
        font-family: 'Open Sans';
        src: url('/fonts/OpenSans-Bold.ttf');
        font-weight: bold;
    }
}

@layer utilities {
    .outer-container {
        @apply flex flex-col w-full items-center gap-5 py-10
    }
    .content-container {
        @apply flex flex-col items-center w-full xl:w-5/6 px-10 py-5 gap-5
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 0.7em;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background-color: #1E3050;
    border-radius: 0.3rem;
}